*{
    margin: 0px;
    padding: 0px;
    outline: none;
    box-sizing: border-box;
}
.nav{
    width: 100%;
    height: 60px;
    background-color: rgb(253, 255, 254);
    position:fixed;
    z-index: 2;
}
.logo{
    position: absolute;
    top: 12px;
    left: 80px;
}
.navli{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    position:absolute;
    top: 19px;
    left: 50%;
}
.navli ul{
    list-style: none;
    float: left;
    display: flex;
    flex-direction: row;
}
.navli ul li{
    padding: 0px 13px;
}
.navli ul li a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(46, 44, 44);
}
.navli ul li a:hover{
    color: rgb(96, 79, 250);
}

.home{
    width: 100%;
    height: 114.3vh;
    padding-top: 80px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgba(211, 247, 206, 0.3) ;
}
.text{
    width: 500px;
    float: left;
    position: relative;
    left: 80px;
    top: 150px;
}
.text h5{
    font-weight: 500;
    letter-spacing: 3px;
    margin-bottom: 30px;
}
.text h1{
    font-size: 55px;
    margin-bottom: 20px;
    font-weight: bolder;
    letter-spacing: 1px;
    color: rgb(37, 37, 36);
}
.text p{
    line-height: 25px;
    color: rgb(113, 117, 121);
    font-size: 15px;
    margin-bottom: 20px;
}
.text button{
    width: 160px;
    height: 40px;
    border: none;
    outline: none;
    background:linear-gradient(100deg, rgb(67, 135, 214), rgb(178, 134, 248));
    color: white;
    font-weight: bolder;
    font-size: 14px;
    letter-spacing: 1px;
    
}
.img{
    position: absolute;
    left: 55%;
}

.homea{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
}
.imga{
     position: relative;
     left:60px ;
     top:120px ;
}
.imga img{
    height: 380px;
}
.texta{
    width: 470px;
    position: relative;
    top: 150px;
    left: 14%;
    font-family: Arial, Helvetica, sans-serif;
}
.texta h5 {
    letter-spacing: 2px;
    font-weight: 300;
    margin-bottom: 30px;
}
.texta h1{
    font-size: 35px;
    font-weight:700;
    color: rgb(41, 42, 44);
    letter-spacing: 1px;
    margin-bottom: 35px;
}
.texta p{
    line-height: 24px;
    font-weight: 100;
    color: rgb(113, 117, 121);
    margin-bottom: 25px;
}
.texta a button{
    color: white;
    background: linear-gradient(100deg, rgb(67, 135, 214), rgb(178, 134, 248));
    outline: none;
    border: none;
    width: 180px;
    height: 40px;
    font-weight: 700;
    letter-spacing: 1px;
}
.homeb{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
}
.textb{
    width: 600px;
    margin: 50px auto;
    text-align: center;
}
.textb h1{
    font-size: 38px;
    font-weight: 700;
    color: rgb(34, 35, 36);
    margin-bottom: 15px;
}
.textb p{
    color: rgb(113, 117, 121);
    line-height: 25px;
    font-weight: 100;
}
.diva{
    width: 100%;
    position: relative;
    top: 80px;
}
.divb{
    width: 350px;
    height: 250px;
    justify-content: center;
    align-items: center;
    float:left;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left:50px;
    padding-bottom: 150px;
}
.divb i{
    font-size: 30px;
    margin-bottom: 20px;
}
.divb h2{
    font-size: 19px;
    color: rgb(21, 22, 22);
    margin-bottom: 15px;
    font-weight: bold;
}
.divb p{
    line-height: 24px;
    color: rgb(113, 117, 121);

}
.divb:hover>h2{
    color: rgb(91, 91, 247);
}
.divb:hover>i{
    color: rgb(91, 91, 247);
}
.narea{
    width: 100%;
    height: 300px;
    background: linear-gradient(100deg, rgb(67, 135, 214), rgb(178, 134, 248));
    justify-content: center;
    align-items: center;
    margin: 100px 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.n{
    float: left;
    text-align: center;
    width: 200px;
    margin: 100px 38px;
    position: relative;
    left: 100px;
}
.n h1{
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 7px;
}
.n h5{
    font-size: 17px;
    font-weight: 100;
    letter-spacing: 1px;
}
.homec{
    width: 90%;
    margin: auto;
    height: 150vh;
    font-family: Arial, Helvetica, sans-serif;
}
.textc{
    text-align: center;
}
.textc h1{
    font-size: 35px;
    font-weight: 600;
    color: rgb(34, 33, 31);
    letter-spacing: 1px;
}
.textc h5{
    color: rgb(113, 117, 121);
    margin-top: 15px;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 1px;

}
.navc{
    text-align: center;
    margin-top: 100px;
    display:flex;
}
.navc ul{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: auto;
    list-style: none;
}
.navc ul li{
    padding-left: 35px;
}
.navc ul li a{
    text-decoration: none;
    color: rgb(20, 19, 19);
    font-size: 12px;
    font-weight: 500;
}
.navc ul li a:hover{
    text-decoration: underline 2px ;
}
.imgareac{
    margin: 80px 0px;   
    width: 100%; 
    height: 170vh !important;
    position: relative !important;
}
.imgc{
    width: 33.33%;
    text-align: center;
    float: left;
    padding-left: 15px;
    padding-right:15px;
    padding-bottom: 30px;
    

}

.imgc .imgcr{
    position: relative;
}

.imgc .hoverimgc {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 4px;
    width: 100%;
    background: -webkit-linear-gradient(0deg, #8490ffca 0%, #62bcfcc0 100%);
    opacity: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgc .hoverimgc img{
    width: 60px !important;
    background-color: rgb(105, 164, 233,0);
}

.imgc .hoverimgc:hover {
    opacity: 1;
}

.imgc img{
    width: 100% !important;
}

.imgc img:hover{
  background-color: rgb(41, 130, 247, .6);
}
.imgc h3{
    letter-spacing: 1px;
    margin-top: 15px;
    color: rgb(27, 25, 25);
}
.imgc h6{
    margin-top: 13px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(113, 117, 121);
}
.homee{
    width: 100%;
    height: 110vh;
    margin-top: 350px;
    background-color: rgba(17, 17, 207, 0.1);
}
.texte{
    text-align: center;
    position: relative;
    top: 100px;
}
.texte h1{
    font-size: 38px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    color: rgb(49, 47, 47);
    margin-bottom: 12px;
}
.texte h4{
    font-weight: 100;
    color: rgb(113, 117, 121);
    font-size: 15px;

}
.comment{
    width: 85%;
    height: 300px;
    background-color: rgb(253, 253, 253);
    position: relative;
    top:180px;
    left: 100px;
}
.come{
    display: flex;
    flex-direction: row;
   font-family: Arial, Helvetica, sans-serif;
}
.imge{
 padding: 15px;
}
.tte{
    padding: 17px;
}
.tte:hover>h3{
    color: rgb(20, 119, 212);
    transition: all ease-in .5s;
}
.tte p{
    color: rgb(113, 117, 121);
    line-height:30px ;
    font-size: 15px;
    font-weight: 100;
}
.tte h3{
    margin-top: 10px;
}


.comee{
    display: flex;
    flex-direction: row;
   font-family: Arial, Helvetica, sans-serif;
}
.imgee{
    padding: 15px;
   }
   .ttee{
       padding: 17px;
   }
   .ttee:hover>h3{
       color: rgb(20, 119, 221);
       transition: all ease-in .5s;
   }
   .ttee p{
       color: rgb(113, 117, 121);
       line-height:30px ;
       font-size: 15px;
       font-weight: 100;
   }
   .ttee h3{
       margin-top: 10px;
   }




.homef{
    width: 100%;
    height: 130vh;
    font-family: Arial, Helvetica, sans-serif;

}

.textf{
    text-align: center;
    margin: 100px 0px;
}
.textf h1{
    font-size: 35px;
    font-weight: 600;
    color: rgb(39, 36, 36);
    letter-spacing: 1px;
    padding-bottom: 20px;
}
.textf p{
    font-weight: 100;
    color: rgb(113, 117, 121);
    letter-spacing: .8px;
    font-size: 14.5px;
}


.areaf{
    width: 270px;
    height:500px;
    float: left;
    text-align: center;
    background-color: rgba(195, 243, 238, 0.2);
    position: relative;
    left: 90px;
}
.h1{
    background-color: rgb(253, 251, 251);
    width: 150px;
    height: 150px;
    margin: 25px auto;
    border: 30px solid rgba(209, 214, 214, 0.3) !important;
    border-radius:50% ;
    
}
.h1 p{
    text-align: center;
    padding-top: 18px;
    font-size: 40px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}

.contf{
    width: 250px;
    text-align: center;
    padding-left:20px;
    line-height: 35px;
    position: relative;
    top: -10px;
}
.contf h3{
    font-size: 19px; 
    font-weight: 500;   
    color: rgb(24, 23, 23);
}
.contf p{
    color: rgb(113, 117, 121);
    font-size: 14px;
    font-weight: 100;
}
.contf h1{
    font-size: 35px;
    letter-spacing: 1px;
    color: rgb(34, 33, 33);
    margin-top: 30px;
}
 .contf button{
     width: 240px;
     height: 40px;
     outline: none;
     border: none;
     font-size: 16px;
     font-weight: 600;
     position: relative;
     top: -40px;
     display: none;
     justify-content: center;
     text-align: center;
     align-items: center;

 }
 .areaf:hover>button{
     display: flex;
 }
 .areaf:hover {
     background:linear-gradient(70deg, rgb(105, 164, 233), rgb(123, 213, 248)) ;
     transform: scale(1.05);
     transition: all  ease-in .20s;
     z-index: 1;
 }
 .areaf:hover> .h1{
background-color: rgba(181, 213, 223, 0.3);

 }


 .areaf:hover h3{
     color: white;
 }
 .areaf:hover p{
    color: white;
}
 .contf:hover button{
    display: flex;
    
}


.imgg{
    width: 100%;
    height: 200px;
    background:linear-gradient(70deg, rgb(105, 164, 233), rgb(123, 213, 248)) ;
    padding: 65px 0px;
}
.imgg img{
    padding-left: 100px;
    opacity: .5;
}
.imgg img:hover{
    opacity: 1;
}

footer{
    width: 100%;
    height: 300px;
    background-color: rgb(23, 23, 34);
}





